
// Resizing the footer to basically eliminate the center column
.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(5% - (#{$spacing-unit} / 2));
  width:         calc(5% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

// .home {
//   background-image: url("images/goalbg.png");
// }
.page-content {
  // background-image: url("images/goalbg.png");
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-attachment: fixed;
  // background-position: center;
  padding: $spacing-unit 0;
  flex: 1;
}

.button {
  background-color: $brand-color;
  border: 2px solid $brand-color-dark;
  color: $brand-color-dark;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 30%;
  display: block;
  margin: 30px auto;
}

.button:visited {
  color: $brand-color-dark;
}

.button:hover {
  background-color: $brand-color-dark;
  color: white;
  text-decoration: none;
}

.home {
  margin-top: 30px;
}
