
// Resizing the footer to basically eliminate the center column
.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(5% - (#{$spacing-unit} / 2));
  width:         calc(5% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

// .home {
//   background-image: url("images/goalbg.png");
// }
.page-content {
  // background-image: url("images/goalbg.png");
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-attachment: fixed;
  // background-position: center;
  padding: $spacing-unit 0;
  flex: 1;
}
