
// Resizing the footer to basically eliminate the center column
.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(5% - (#{$spacing-unit} / 2));
  width:         calc(5% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.button {
  background-color: $grey-color;
  border: 2px solid $grey-color-dark;
  color: $grey-color-dark;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  width: 30%;
  display: block;
  margin: 30px auto;
}

.button:visited {
  color: $grey-color-dark;
}

.button:hover {
  background-color: $grey-color-dark;
  color: white;
  text-decoration: none;
}

.home {
  margin-top: 30px;
}

.site-header {
  border-top: 5px solid $grey-color-dark;
  background-color: $grey-color;
  // border-bottom: 10px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  color: $background-color;
}

.site-footer {
  border-top: 4px solid $grey-color-light;
}

.site-title {
  width: 100%;
  // float: none;
  // text-align: center;
  display: flex;
  justify-content: center;

  &,
  &:visited {
    color: $background-color;
  }
}

// hide the footer heading
.footer-heading {
  display: none;
}
